.rodapeContainer {
      width: 100%;
      height: 400px;
      margin-top: 160px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      background-color: #0D59FF;
      color: #F7F7F7;
      text-shadow: 2px 2px 4px #202020;
}

.rodape-titulo {
      font-family: "Roboto", sans-serif;
      font-size: 1.25rem;
      font-weight: 400;
}


.rodape-contatos {
      width: 100%;
      height: 200px;
      padding-top: 40px;
      margin: 0px auto;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 176px;

      font-family: "Roboto", sans-serif;
}

.rodape-contatos > .contatos, .redeSocial {
      height: 200px;

      display: flex;
      flex-direction: column;
      gap: 16px;
}

.contatos, .redeSocial > h3 {
      text-align: center;
      margin-left: 4px;
}

.contatos-titulo > h1 {
      margin-bottom: 24px;

      font-family: "Roboto", sans-serif;
      font-size: 2.2rem;
      font-weight: 400;
}

.rodape-contatos ul {
      list-style: none;
}

.rodape-contatos ul li{
     margin-bottom: 24px;
     margin-left: 16px;
     font-family: "Roboto", sans-serif;
     font-size: 1rem;
     transition: all 300ms ease;
}

.rodape-contatos ul li:hover{
      cursor: pointer;
      color: #bfbfbf;
 }

.icon {
      transform: scale(250%);
      margin-right: 20px;
}