.rodapeContainer {
      width: 100%;
      height: 280px;
      padding: 24px 0px 40px 0px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 16px;

      background-color: #FFFFFF;
      color: #000;
}

.rodape-titulo {
      font-family: "Roboto", sans-serif;
      font-size: 1.25rem;
      font-weight: 400;
      margin-top: 8px;
}


.rodape-contatos {
      width: 100%;
      height: 100px;
      margin: 0px auto;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 176px;

      font-family: "Roboto", sans-serif;
}

.rodape-contatos > .contatos, .redeSocial {
      height: 110px;

      display: flex;
      flex-direction: column;
      gap: 12px;
}

.contatos, .redeSocial > h3 {
      text-align: center;
      margin-left: 4px;
}

.contatos-titulo > h1 {
      margin-bottom: 24px;
      height: 30px;
      font-family: "Roboto", sans-serif;
      font-size: 2.2rem;
      font-weight: 400;
}

.rodape-contatos ul {
      list-style: none;
}

.rodape-contatos ul li{
     margin-bottom: 24px;
     margin-left: 16px;
     font-family: "Roboto", sans-serif;
     font-size: 1rem;
     transition: all 300ms ease;
}

.rodape-contatos ul li:hover{
      cursor: pointer;
      color: #bfbfbf;
 }

.icon {
      transform: scale(250%);
      margin-right: 20px;
}